.header-content {
  position: fixed;
  top: 0rem;
  height: 6rem;
  z-index: 10;
}

.nav {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
}

.nav-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 35rem;
  height: auto;
  overflow-x: hidden;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
  transition: 0s;
  margin-top: 1.6rem;
  margin-right: 1.1rem;
}
.nav-menu-item {
  width: 10rem;
  padding: 0rem;
  text-align: center;
  border-bottom: none;
  list-style: none;
}
.nav-menu-link {
  font-size: 1.7rem;
  color: var(--white);
}

.nav-menu-link:hover {
  color: var(--turquoise);
  opacity: 60%;
}

.logo {
  width: 32rem;
  align-self: center;
  margin-left: 2rem;
  margin-top: 1.6rem;
  font-size: 2rem;
  text-align: left;
}

.main-content {
  margin-top: 6rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo--imagen {
  left: calc(50% - 16rem);
}

.photo--elipse {
  left: calc(50% - 15.45rem);
}

.presentation {
  width: 50%;
}

.about-me {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
}

.about-me-content {
  height: 28.8rem;
}

.about-me-paragraph {
  font-size: 2.4rem;
}

.skills {
  flex-direction: column-reverse;
}

.skills-list {
  flex-direction: row;
  justify-content: space-evenly;
  width: calc(50% - 3.4rem);
}

.elipse2 {
  left: calc(25% - 3.4rem);
}

.elipse3 {
  right: calc(25% - 3.4rem);
}
.projects-content {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
}

.projects-item a:hover .background {
  transform: scale(1.1);
  z-index: -1;
}
.projects-item a:hover .projects-image {
  transform: scale(1.1);
}

.projects-item a:hover .projects-item-title {
  display: none;
  transition: inherit;
}
