:root {
  --cobalt: #006d77;
  --turquoise: #83c5be;
  --white: #edf6f9;
  --peach: #ffddd2;
  --pink: #e29578;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

.header-content {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 18rem;
  background-color: var(--cobalt);
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav-menu {
  position: fixed;
  top: 4.35rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  top: 200%;
  transition: all 0.2s;
}

.nav-menu-item {
  width: 100%;
  padding: 4rem;
  text-align: center;
  list-style: none;
}

.nav-menu-link {
  color: var(--cobalt);
  font-size: 3rem;
  cursor: pointer;
}

.logo {
  width: 32rem;
  align-self: center;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

.nav-toggle {
  margin-top: 0.75rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
}

.nav-toggle-button {
  height: 3rem;
  font-size: 3rem;
  background: none;
  border: none;
  color: var(--white);
  text-align: right;
  cursor: pointer;
}

.nav-menu_visible {
  top: 4.35rem;
  z-index: 10;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.photo {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 28.8rem;
}

.photo--imagen {
  position: absolute;
  bottom: 0;
  left: calc(50% - 16rem);
  max-width: 34.8rem;
  min-width: 32rem;
  height: 34.9rem;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo--elipse-cobalt {
  position: absolute;
  top: 2rem;
  left: calc(50% - 15.45rem);
  min-width: 30.9rem;
  height: 34.9rem;
  background-image: url(../images/Ellipse\ 1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-title {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink-title {
  background-color: var(--pink);
}

.cobalt-title {
  background-color: var(--cobalt);
}

.peach-title {
  background-color: var(--peach);
}

.section-title-text {
  font-size: 3.6rem;
  font-weight: normal;
  color: var(--white);
}

.about-me-content {
  width: 100%;
  min-width: 32rem;
  height: 33.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-paragraph {
  width: 75%;
  min-width: 25rem;
  text-align: center;
  font-size: 2.4rem;
  color: var(--cobalt);
}

.skills {
  width: 100%;
  min-width: 32rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.skills-content {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 16.4rem;
  display: flex;
  justify-content: center;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  list-style: none;
}

.skills-item {
  color: var(--cobalt);
  font-size: 2.4rem;
  font-weight: bold;
}

.photo--elipse-peach {
  position: absolute;
  min-width: 6.8rem;
  height: 6.8rem;
  background-image: url(../images/Ellipse4.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.elipse2 {
  top: calc(70% - 3.4rem);
  left: calc(0rem - 3.4rem);
  min-width: 6.8rem;
  height: 6.8rem;
  opacity: 30%;
}

.elipse3 {
  top: calc(30% - 3.4rem);
  right: 0%;
  min-width: 3.4rem;
  background-image: url(../images/Ellipse\ 3.svg);
  opacity: 60%;
}

.projects {
  width: 100%;
  min-width: 32rem;
  height: auto;
}

.projects-content {
  display: grid;
  grid-template-columns: minmax(20rem, 28rem);
  grid-auto-rows: 28rem;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.projects-item {
  position: relative;
}

.projects-item a {
  transition: all 0.3s ease;
}

.projects-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: inherit;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  transition: inherit;
}

.background-cobalt {
  background-color: var(--cobalt);
}

.background-pink {
  background-color: var(--pink);
}

.projects-item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  transition: inherit;
}

.contact {
  width: 100%;
  min-width: 32rem;
}

.contact-content {
  width: 100%;
  min-width: 32rem;
  height: 75vh;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.form-contact {
  height: fit-content;
  align-self: center;
}

.form-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.form-left {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-left img {
  min-width: 17rem;
  width: 80%;
  max-width: 35rem;
  align-self: center;
  height: 80%;
  object-fit: contain;
}

.form-right {
  display: grid;
  grid-template-columns: 1fr;
}

.form-right label {
  padding: 0.5em 1em;
}

.form-input {
  font-family: inherit;
  color: var(--cobalt);
  width: 100%;
  padding: 0.8em 1em;
  background: none;
  border: 2px solid var(--cobalt);
}

.form-button {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.form-button:hover {
  background: var(--cobalt);
  color: var(--white);
}

.form-input::placeholder {
  color: var(--cobalt);
}

.form-title {
  text-align: center;
  margin: 0.1em;
  font-size: 3rem;
  color: var(--cobalt);
}
.form-text {
  resize: none;
}

.footer-content {
  width: 100%;
  min-width: 32rem;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--cobalt);
  color: var(--white);
}

.social-list {
  width: 25vw;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.copy-text {
  padding: 1vh 1vw;
  font-size: 1.5rem;
}

.social-item {
  padding: 1vh 1vw;
  font-size: 1.5rem;
}

.social-link:hover {
  color: var(--turquoise);
}
